#nav-border {
    
    background-color: white;
    filter: drop-shadow(20px 20px 10px rgba(44, 2, 99, 0.377));
}

.navbar ul {
    font-family: "proxima-nova", Raleway, Arial, sans-serif;
    font-weight: bold;
    list-style-type: none;
    font-size: 3vmin;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap; /* assumes you only want one row */
    
  }

#navbar-logo {
    margin-left: 12%;
}

#navbar-logo-f {
    /* margin-left: 20%; */
    margin-left: 11%;
    padding-left: 3px;
}

#navbar-logo-l {
    /* margin-left: 20%; */
    margin-left: 12%;
    padding-left: 0px;
}

.nav-link { 
    color: black;
    
}

.logo {
    width: 65vh; 
    height: 100%;
}

.nav-item {
    margin-left: 90px;
    
}

ul.nav a:hover { color: #422980 !important; }

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .navbar ul {
        font-family: "Roboto Slab";
        font-weight: bold;
        list-style-type: none;
        font-size: 5vmin;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap; /* assumes you only want one row */
      }

    .logo {
        width: 30vh; 
        height: 100%;
    }
  }